{% extends 'base.html.twig' %}

{% block body %}
	<form class="mb-3" id="guess-form">
		<div class="field">
			<div class="control has-icons-right">
				<input class="input is-large" type="text" name="guess" id="guess" placeholder="Type your guess">
			</div>
		</div>
	</form>
	<button class="button is-primary is-large" id="play-btn">Play!</button>
	<div class="content">
		<p id="guess-result"></p>
		<span class="is-size-3" id="answer"></span>
	</div>
{% endblock %}
