{% extends 'base.html.twig' %}

{% block body %}
	<button id="play-btn">Play!</button>
	<form id="guess-form">
		<input type="text" name="guess" id="guess" placeholder="Type your guess">
	</form>
	<p id="guess-result"></p>
	<span id="answer"></span>
{% endblock %}
