{% extends 'base.html.twig' %}

{% block body %}
	<style>
		.container {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		#pre-answer {
			display: none;
		}
	</style>
	<div class="container">
		<button id="play-btn">Play!</button>
		<form id="guess-form">
			<input type="text" name="guess" id="guess" placeholder="Type your guess">
		</form>
		<p id="pre-answer">The answer was:</p>
		<span id="answer"></span>
	</div>
{% endblock %}
