@import "~bulma/css/bulma.min.css";

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    flex-grow: 1;
}

.table {
    border-radius: 4px;
}

.input.is-large.is-danger,
.input.is-large.is-success {
    border-width: thick;
}

#track-image,
#guess-form,
#skip-btn {
    display: none;
}

@media screen and (min-width: 1024px) {
    input.input {
        width: 50%;
    }
}
