@import "~bulma/css/bulma.min.css";

html,
body {
    height: 100vh;
}

.section {
    height: 80vh;
}

input#guess {
    width: 50%;
}

.input {
    border-width: thick;
}

#track-image {
    display: none;
}
